@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base { */
  /* html { */
    /* font-family: Calibri, "Trebuchet MS", sans-serif; */
    /* font-family: "Open Sans", sans-serif; */
    /* font-family: "Outfit", sans-serif; */

    /* font-family: "Open Sans", sans-serif;
    font-family: "Outfit", sans-serif; */
    /* font-family: "Roboto", sans-serif; */
  /* } */
/* } */


* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

.material-symbols-rounded {
  font-variation-settings:
    "FILL" 0,
    "wght" 300,
    "GRAD" 0,
    "opsz" 48;
}
/* ::-webkit-scrollbar {
  width: 10px;
} */

/* ::-webkit-scrollbar-track {
  background: var(--nextui-background-300);
} */

/* ::-webkit-scrollbar-thumb {
  background: var(--tw-ring-color);
  border-radius: 5px;
} */

/* ::-webkit-scrollbar-thumb:hover {
  background: var(--nextui-background-300);
} */
